/* Custom fonts */
@font-face
    font-family raleway
    src url( 'fonts/ralewayThin.ttf' )
@font-face
    font-family Artifika-Regular
    src url( 'fonts/Artifika-Regular.ttf' )
@font-face
    font-family Amaranth-Regular
    src url( 'fonts/Amaranth-Regular.otf' )