div.entry
    margin auto
    position relative
    width 50%
    height auto
    padding 10% 0
    vertical-align middle
    div.title
        color main-colour
        font-family Amaranth-Regular
        margin-left auto
        margin-right auto
        & h2
            text-align center
    div.form
        div.inner-form
            display block
            & input
                border 0.5px solid dark-hover-main-colour
                border-radius 7px
                -webkit-border-radius 10px
                -moz-border-radius 10px
                -moz-box-sizing border-box
                -webkit-box-sizing border-box
                box-sizing border-box
                display block
                font-size 20px
                font-family Amaranth-Regular
                margin 0 auto 5px auto
                text-align center
                width 70%
                height 40px
            & input#enterWorld
                background #f9ffe5
                color main-colour
                cursor pointer
            & input#enterWorld:active
                background main-colour
                color #fff
                cursor pointer
                transition-delay 0.01s
