/* Custom fonts */
@font-face
    font-family raleway
    src url( 'fonts/ralewayThin.ttf' )
@font-face
    font-family Artifika-Regular
    src url( 'fonts/Artifika-Regular.ttf' )
@font-face
    font-family Amaranth-Regular
    src url( 'fonts/Amaranth-Regular.otf' )

/* Vars */
main-colour = #8080ff
main-font-colour = #ebf0fa
dark-hover-main-colour = #6666ff
light-font = #f2f2f2

/* Styles */
body
    background #fff
    font-family 'Lora'
    margin 0
    // padding 5% 0
    div.top-block /* top navigation panel */
        background main-colour
        display -webkit-flex
        display flex
        height 50px
        width 100%
        div.over-logo
            width: 24%
            a
                text-decoration none
                display block
                div.logo
                    display -webkit-flex
                    display flex
                    color main-font-colour
                    width 19%
                    height 50px
                    line-height 100%
                    img
                        padding-left 15px
                        padding-top 12px
                        width 24px
                        height 24px
                    h2
                        margin 18px 0 0 0 !important
                        padding-left 12px
            & :hover
                background dark-hover-main-colour
        div.top-right-panel
            width 100%
            display -webkit-flex
            display flex
            justify-content space-between
            -webkit-justify-content space-between
            div.greetings
                color light-font
                font-size 15px
                line-height 130%
                padding-left 5px
                text-align left
                width 300px
            div.logout
                text-align center
                width 50px
                height 52px
                :before
                    content ''
                    height 55%
                    display inline-block
                a img
                    vertical-align middle
                    height 24px
                    width 24px
    div.chat-block /*  */
        // margin-top 10px
div.entry
    margin auto
    position relative
    width 50%
    height auto
    padding 10% 0
    vertical-align middle
    div.title
        color #5AB963
        font-family Amaranth-Regular
        margin-left auto
        margin-right auto
        & h2
            text-align center
    div.form
        div.inner-form
            display block
            & input
                border 0.5px solid #5AB963
                border-radius 7px
                -webkit-border-radius 10px
                -moz-border-radius 10px
                -moz-box-sizing border-box
                -webkit-box-sizing border-box
                box-sizing border-box
                display block
                font-size 20px
                font-family Amaranth-Regular
                margin 0 auto 5px auto
                text-align center
                width 70%
                height 40px
            & input#enterWorld
                background #f9ffe5
                color #5AB963
                cursor pointer
            & input#enterWorld:active
                background #5AB963
                color #f9ffe5
                cursor pointer
                transition-delay 0.01s

/* chat */
div#root div.users
    font-size 15px
    width 19%
    float left
    // border 1px solid main-colour
    ul
        padding-left 0px
        margin 0px
        li
            list-style-type none
            height 55px
            a
                color #001a14
                & :before /* strange fix */
                    content ""
                    display inline-block
                    vertical-align middle
                    height 100%
                div
                    display inline-block
                    vertical-align middle
                    height 100%
                div:last-child
                    float right
                    vertical-align top !important
                img.user-photo
                    border-radius 50%
                    padding-left 4px
                    width 48px
                    height auto
                    vertical-align middle
                div.user-name span
                    padding-left 10px
                div.user-time span
                    font-size 10px
                    padding-right 4px
        & :hover
            background-color #e5ffff
            cursor pointer
div#root div.messages
    width 80%
    float right
